/* Base mobile styles */

body {
        background-color: rgb(4, 24, 43);
    	font: normal 16px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
    	color: #FFF;
    }
header {
	margin-bottom: 1em;
	}
header img {
		width: 100px;
		height: auto;
	}
@-ms-viewport{  /* viewport setting for IE10 for future compatibility */
    width: device-width;
}

#phoneContent {
         display: block;
		height: 100%;
		width: 100%;
		top: 0;
		position: absolute;
		bottom: 0;
		background: url(../i/mobile-poster.jpg) no-repeat #0C182B center;
		background-size: cover;
		left: 0;
		right: 0;
		padding: 1em 0 0;
		text-align: center;
	}  
	#phoneContent h1 {
		font-size: 2.0em;
		font-weight: bold;
		word-spacing: -2px;
		line-height: .95;
		text-indent: 0;
		margin: 0 0;
		margin-bottom: .35em;
	}
	#phoneContent h2 {
		font-size: 1.1em;
		font-family: "Minion Pro", "minion-pro", Times, 'Times New Roman', serif;
		font-weight: normal;
		word-spacing: -1px;
		line-height: 1.1;
	}
	.mobile-bottom {
		width: 100%;
		position: absolute;
		bottom: 0;
		padding: 3%;
		background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
	}
	#phoneContent .trailerbtn {
		padding: 9px 0;
		font-size: .85em;
		text-transform: uppercase;
		margin: 0 auto;
		letter-spacing: 1px;
		font-weight: bold;
		position: fixed;
		bottom: 5em;
		left: 0;
		right: 0;
	}
	.trailerbtn a {
		color: #FFF;
		padding: 10px 18px;
		border: 1px solid #FFF;
	}
		.trailerbtn a:hover {
			text-decoration: none;		
		}
	#phoneContent .description {
		z-index: 30;
		font-size: .75em;
		line-height: 1.1;
	}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
	
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
	
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
	

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
	
}

@media only screen and (max-width: 767px){
    
   
    
}